## AWS Credentials
Check that you have entered the proper credentials in your local

In [1]:
AWS_ACCESS_KEY_ID="ASIAYIZMYGJZ424VCWV2"
AWS_SECRET_ACCESS_KEY="0fSZoZZl3mPiKe+XHsQYUGGIgEmKOYvhUaLd5a2P"
AWS_SESSION_TOKEN="IQoJb3JpZ2luX2VjEF8aDmFwLXNvdXRoZWFzdC0xIkcwRQIhAI3MPBIdsgfPyO4nIsbDnFIRymEOiteR+XbOOUGLP7NsAiAHWIw5ynY76otFJy96V13gcg9C5K0tipJEwgwE5TWgsSqVAwgoEAEaDDU2ODY0MDE1NjI3NSIMEsHoN6Cr4oY2B4tHKvICcnhNzr8JoQmtSeag6hJTLAM62YUx62pksXS7J30QEGpNW1io6vvc9CVZ8k6I4bNm6PbQBe4rhKej9uTnA/P4yppXhlxRop3FZJ6bCPC0TlQX0VRSQyMpohlMmeMUhjUckUyZ4/DEr918QjxaVl932od8HILF0vdRms7dkCcU885rrw5w8Et00uBQmwde51ZrQcbxXi06IjeWaCslFtU6NM6PvQF+AzVMl7nJUh+NdwahKQiDdbuQ0HWn8NOvJj8+w2pm/1l0apsgCLL3EFqeuMovYBbWyN2IUg34KDPzlEPM1y0N88QlKAB9mQJlDNlH14DdhkOa6pOsIaqrfZ8gPO30aArxPeidlhJ3WWnbPzloXYktOyZ3p8MGVHrKLHRNqSMWrAeB1WfI3mczwSlEu3QfkusFOs/VqOcaoU8q9MAnGCJptUGqZKobxhitbJ3Aoh+tJfBdDLGJLWF6ofcq7ukyyErSt9byk8YvXqkbVYX2pjCUmtCgBjqmAa2zEzcyNoIEqWRwfzODUa0D0M9+z67cPgKc+9ouQpuyfuM7S965Og3X2Vf22tBKnpDUUbbLuIUAEJoweOYn/g++ttWVD55qF0l+rJEUYTEXxY0oycpW1t6NmjCFI49qACMrNK/CmZ+/wxBSzDm6c5elYMIoxaJpq4UVnV1NJ7vdUw7I3vqNaT4XefZ3sa+11sYTqW2sdLKrIMx8N6+rjr2xLyu4N0c="
AWS_DEFAULT_REGION="ap-southeast-1"

In [2]:
BUCKET_NAME = 'document-scanning-az'

In [ ]:
# !pip install amazon-textract-response-parser
# !pip install amazon-textract-prettyprinter
# !pip install amazon-textract-caller
# !pip install pandas

In [4]:
import boto3
import botocore
import json
import time
import pandas as pd

from trp.trp2 import TDocument, TDocumentSchema
from trp.t_pipeline import order_blocks_by_geo
from trp import Document
from textractprettyprinter.t_pretty_print import Textract_Pretty_Print, get_string
from textractcaller import get_full_json, Textract_API

# t_doc = TDocumentSchema().load(j)

In [5]:
session = boto3.session.Session(
    aws_access_key_id=AWS_ACCESS_KEY_ID,
    aws_secret_access_key=AWS_SECRET_ACCESS_KEY,
    aws_session_token=AWS_SESSION_TOKEN,
)

textract = session.client("textract", region_name = AWS_DEFAULT_REGION )
s3 = session.client("s3", region_name = AWS_DEFAULT_REGION)

Upload file if file does not exist.

In [6]:
filename = 'dsv'
upload_prefix = 'raw-reports/'
file_ref_raw_file = upload_prefix + filename + '.pdf'
local_file_ref = filename + '.pdf'

try:
    s3.get_object(
        Bucket= BUCKET_NAME,
        Key= file_ref_raw_file
    )
    print("File already uploaded to S3")
except botocore.exceptions.ClientError as e:
    if e.response['Error']['Code'] == "NoSuchKey":
        print("Uploading to S3")
        with open(local_file_ref, "rb") as f:
            s3.upload_fileobj(f, BUCKET_NAME, file_ref_raw_file)
        print("Uploaded to S3")

print("File is at: ", file_ref_raw_file);

File already uploaded to S3
File is at:  raw-reports/dsv.pdf

Function to textract file asynchronously and fetch block response

In [7]:
def textract_file(file_ref):
    total_waiting_min = 0.00
    doc_textracted_async = textract.start_document_analysis(
        DocumentLocation={
            'S3Object':{
                'Bucket': BUCKET_NAME,
                'Name': file_ref
            }
        },
        FeatureTypes=['TABLES']
    )
    job_id = doc_textracted_async["JobId"]
    all_blocks = []
    print("getting full_json")
    response = get_full_json(job_id, Textract_API.ANALYZE, textract)
    return response

Get textracted file if exist from S3, else textract and upload

In [53]:
upload_textracted_prefix = 'textracted-reports-values/'
file_ref_tetracted = upload_textracted_prefix + filename + '.json'

document_json = {}

try:
    document_json = s3.get_object(
        Bucket= BUCKET_NAME,
        Key= file_ref_tetracted
    )
    document_json = json.loads(document_json["Body"].read().decode('UTF-8'))
    print("File already textracted")
    
except botocore.exceptions.ClientError as e:
    if e.response['Error']['Code'] == "NoSuchKey":
        print("Textracting.....")
        document_json = textract_file(file_ref_raw_file)
        print("Textracted")

        json_file = json.dumps(document_json).encode('UTF-8')

        s3.put_object(
            Body = json_file,
            Bucket = BUCKET_NAME,
            Key = file_ref_tetracted
        )
        print("File uploaded at: ", file_ref_tetracted)
all_blocks = document_json["Blocks"]

KeyError: 'Blocks'

In [9]:
print(get_string(textract_json=document_json, output_type=[Textract_Pretty_Print.TABLES]))

|----------------------------|------|------|------|------|------|
| Environmental data*        | 2021 | 2020 | 2019 | 2018 | 2017 |
| CO2 Scope 1 ('000 tonnes)  |      |      |      |      |      |
| Company cars**             | 10   | 13   | 14   | -    | -    |
| Road emissions (own fleet) | 101  | 43   | 37   | 39   | 39   |
| Building emissions         | 24   | 24   | 23   | 22   | 19   |
| Total CO, e Scope 1        | 135  | 80   | 74   | 61   | 58   |
| CO2 Scope 2 ('000 tonnes)  |      |      |      |      |      |
| Building emissions         | 119  | 98   | 85   | 78   | 78   |
| Total CO2 e Scope 2        | 119  | 98   | 85   | 78   | 78   |

|----------------------------|--------|--------|-------|-------|-------|
| Environmental data*        | 2021   | 2020   | 2019  | 2018  | 2017  |
| CO2e Scope 3 ('000 tonnes) |        |        |       |       |       |
| Business travel**          | 1      | 1      | 8     | -     | -     |
| Air transport              | 7,458  | 6,825  | 4,631 | 3,291 | 3,208 |
| Sea transport              | 1,130  | 1,047  | 1,242 | 820   | 855   |
| Road transport             | 3,823  | 3,275  | 2,847 | 3,015 | 2,987 |
| Rail transport*            | 112    | 139    | -     | -     | -     |
| Total CO e Scope 3         | 12,524 | 11,287 | 8,728 | 7,126 | 7,050 |

|-------------------------------------------------------------|-------|-------|-------|-------|-------|
| Environmental data*                                         | 2021  | 2020  | 2019  | 2018  | 2017  |
| Energy efficiency (gram CO. e per tonne transported one km) |       |       |       |       |       |
| COe (g/tonne-km) - Air transport                            | 694.4 | 704.0 | 718.2 | 728.0 | 751.0 |
| COe (g/tonne-km) - Sea transport                            | 6.1   | 6.2   | 6.4   | 7.0   | 7.3   |
| COe (g/tonne-km) - Road transport                           | 92.4  | 92.8  | 93.2  | 96.5  | 97.4  |
| COe (g/tonne-km) - Rail transport*                          | 32.6  | 32,7  | -     | -     | -     |
| Fuel consumption (own truck fleet)                          |       |       |       |       |       |
| Total consumption of fuel ('000 gigajoule)**                | 1,488 | -     | -     | -     | -     |
| Proportion of HVO fuel consumed (%)*                        | 4     | -     | -     | -     | -     |
| Energy consumption Scope 1 & 2 ('000 gigajoule)             |       |       |       |       |       |
| Total energy consumption**                                  | 2,800 | 1,673 | -     | -     | -     |

|-----------------------------------------------------------------------------------------------------------|-------|-------|-------|-------|-------|
| Environmental data*                                                                                       | 2021  | 2020  | 2019  | 2018  | 2017  |
| Water ('000 m³)                                                                                           |       |       |       |       |       |
| Total water consumption - buildings                                                                       | 1,188 | 1,152 | 1,596 | 1,485 | 1,435 |
| Renewable energy share (%)                                                                                |       |       |       |       |       |
| Renewable**                                                                                               | 12    | 22    | -     | -     | -     |
| Non-renewable**                                                                                           | 88    | 78    | -     | -     | -     |
| Euro engine standards (%)                                                                                 |       |       |       |       |       |
| Proportion of trucks of DSV Road satisfying Euro 2 standard or older (own and suppliers' trucks)          | 0.2   | 0.2   | 0.2   | 0,7   | 0.7   |
| Proportion of trucks of DSV Road satisfying Euro 3 or 4 standards (own and suppliers' trucks)             | 9.6   | 10.4  | 16.5  | 19.3  | 20.8  |
| Proportion of trucks of DSV Road satisfying Euro 5 or 6 standards (own and suppliers' trucks)             | 90.2  | 89.4  | 83.3  | 80.0  | 78.5  |
| Recycling of paper, cardboard and plastic (%)                                                             |       |       |       |       |       |
| Proportion of locations recycling paper, cardboard, and/or plastic from offices, terminals and warehouses | 71    | 74    | 74    | 79    | 74    |

|------------------------------------------------|-------|-------|-------|-------|-------|
| Social data*                                   | 2021  | 2020  | 2019  | 2018  | 2017  |
| Gender diversity (%) (female/male)             |       |       |       |       |       |
| Gender diversity total                         | 38/62 | 38/62 | 39/61 | 38/62 | 39/61 |
| Gender diversity salaried employees**          | 49/51 | 51/49 | 51/49 | -     | -     |
| Gender diversity hourly workers**              | 22/78 | 23/77 | 25/75 | -     | -     |
| Gender diversity, management (%) (female/male) |       |       |       |       |       |
| Gender diversity management                    | 34/66 | 34/66 | 33/67 | 28/72 | 31/69 |
| Age distribution of employees (%)              |       |       |       |       |       |
| Employees <25                                  | 9.8   | 8.4   | 9.5   | 8.0   | 8.3   |
| Employees 25-34                                | 29.4  | 29.1  | 29.3  | 30.0  | 30,7  |
| Employees 35-44                                | 30.2  | 30,7  | 30.6  | 29.8  | 29.6  |
| Employees 45-54                                | 20.0  | 20,4  | 19.5  | 20.5  | 20,5  |
| Employees >54                                  | 10.6  | 11.4  | 11.1  | 11.7  | 10.9  |
| Employee seniority (%)                         |       |       |       |       |       |
| Seniority <1 year                              | 24,0  | 17.0  | 17,7  | 19.4  | 19.1  |
| Seniority 1-2 years                            | 17.9  | 22.8  | 22,7  | 21.9  | 21.1  |
| Seniority 3-5 years                            | 20.2  | 19.9  | 19.8  | 17.2  | 16.2  |
| Seniority 6-10 years                           | 15.7  | 15.3  | 15.5  | 15.2  | 17.3  |
| Seniority 11-25 years                          | 18.3  | 20.3  | 20.0  | 21.4  | 20.5  |
| Seniority >25 years                            | 3.9   | 4.7   | 4.3   | 4.9   | 5.8   |
| Collective bargaining agreements (%)           |       |       |       |       |       |
| Total*                                         | 28    | -     | -     | -     | -     |
| Salaried employees*                            | 17    | -     | -     | -     | -     |
| Hourly workers*                                | 40    | -     | -     | -     | -     |

|---------------------------------|--------|--------|--------|--------|--------|
| Social data*                    | 2021   | 2020   | 2019   | 2018   | 2017   |
| Employees (full-time workforce) |        |        |        |        |        |
| Total                           | 77,958 | 56,621 | 61,216 | 47,394 | 45,636 |
| Salaried employees              | 40,605 | 29,544 | 32,820 | 23,088 | 22,730 |
| Hourly workers                  | 37,353 | 27,077 | 28,396 | 24,306 | 22,906 |

|---------------------------------------------------------------------|-------|-------|-------|-------|-------|
| Social data*                                                        | 2021  | 2020  | 2019  | 2018  | 2017  |
| Sickness absence (days per FTE)                                     |       |       |       |       |       |
| Total                                                               | 5.7   | 6.4   | 6.0   | 5.9   | 4.7   |
| Salaried employees                                                  | 5.4   | 5.8   | 6.0   | 6.6   | 4.7   |
| Hourly workers                                                      | 6.0   | 7.1   | 5.9   | 5.2   | 4.7   |
| Lost Time Injury Frequency Rate (LTIFR) (per million working hours) |       |       |       |       |       |
| Total                                                               | 4.5   | 6.7   | 5.0   | 4.6   | 4.2   |
| Salaried employees                                                  | 1.0   | 0.8   | 0.9   | 0.5   | 0,8   |
| Hourly workers                                                      | 7.9   | 13.3  | 9.1   | 8.3   | 7.6   |
| Lost workdays due to lost time injury (per million working hours)   |       |       |       |       |       |
| Total                                                               | 61.0  | 78.8  | 97.5  | 98.0  | 81.2  |
| Salaried employees                                                  | 15.3  | 16.0  | 22.0  | 23.2  | 20.8  |
| Hourly workers                                                      | 105,4 | 148.6 | 173,8 | 164.5 | 142.5 |
| Fatalities                                                          |       |       |       |       |       |
| Fatalities in absolute numbers                                      | 1     | 0     | 1     | 0     | 0     |

|------------------------------------------------------|------|------|------|------|------|
| Social data*                                         | 2021 | 2020 | 2019 | 2018 | 2017 |
| Employee turnover ratio (%)                          |      |      |      |      |      |
| Total                                                | 24.4 | 32.5 | 23.6 | 20.1 | 18.0 |
| Salaried employees                                   | 24.2 | 31.5 | 21.9 | 19.6 | 18.4 |
| Hourly workers                                       | 24.6 | 33.6 | 25.3 | 20.6 | 17.5 |
| Employee turnover ratio (%) (adjusted for synergies) |      |      |      |      |      |
| Total                                                | 21.9 | 20.5 | 21.1 | 20.1 | 16.4 |
| Salaried employees                                   | 19.7 | 11.7 | 17.5 | 19.6 | 15.7 |
| Hourly workers                                       | 24.2 | 31.0 | 24.8 | 20.6 | 17.2 |

|---------------------------------------------------------------------------|------|------|------|------|------|
| Governance and other data*                                                | 2021 | 2020 | 2019 | 2018 | 2017 |
| Compliance reviews (%)                                                    |      |      |      |      |      |
| Companies reviewed                                                        | 25   | 25   | 56   | 50   | 55   |
| Management System Certifications (%)                                      |      |      |      |      |      |
| ISO 9001 (Quality)                                                        | 32   | 38   | 61   | 40   | 39   |
| ISO 45001 (Health & Safety)                                               | 18   | 22   | 40   | 19   | 12   |
| ISO 14001 (Environment)                                                   | 24   | 30   | 52   | 33   | 24   |
| Distribution of DSV's Supplier Code of Conduct (%)                        |      |      |      |      |      |
| Distribution of DSV's Supplier Code of Conduct with spend over 25,000 EUR | 88   | 100  | 100  | 95   | 93   |

|----------------------------------------------------------------------------------------------------------|------|------|------|------|------|
| Governance and other data*                                                                               | 2021 | 2020 | 2019 | 2018 | 2017 |
| Employee training on Code of Conduct, including human rights and anti-corruption policies and procedures |      |      |      |      |      |
| Code of Conduct online training, completion rate (%)                                                     | 100  | 100  | 100  | -    | -    |
| Average training hours spent on Code of Conduct*                                                         | 2    | 2    | 2    | -    | -    |
| Whistleblower reports                                                                                    |      |      |      |      |      |
| Total                                                                                                    | 47   | 41   | 60   | 23   | 23   |

In [39]:
## from trp import Document
from array import *
import numpy as np

doc = Document(document_json)

table_num = 0

all_array = []


# Iterate over elements in the document
for p, page in enumerate(doc.pages):
    print("Page number: {}".format(p+1))
    
    # Print tables
    for t, table in enumerate(page.tables):
        table_array = []
        print("Table number: {}".format(t+1))

        for r, row in enumerate(table.rows):
            row_array = []
            for c, cell in enumerate(row.cells):
                row_array.append(cell.text.strip())
                print("Table[{}][{}] = {}-{}".format(r, c, cell.text, cell.confidence))
            table_array.append(row_array)
        all_array.append(table_array)
        print("\n")
        
print(all_array)
print(len(all_array))

Page number: 1
Table number: 1
Table[0][0] = Environmental data* -93.20857238769531
Table[0][1] = 2021 -91.46683502197266
Table[0][2] = 2020 -92.3075942993164
Table[0][3] = 2019 -91.76325225830078
Table[0][4] = 2018 -92.98519134521484
Table[0][5] = 2017 -88.92678833007812
Table[1][0] = CO2 Scope 1 ('000 tonnes) -54.89760208129883
Table[1][1] = -54.89760208129883
Table[1][2] = -54.89760208129883
Table[1][3] = -54.89760208129883
Table[1][4] = -54.89760208129883
Table[1][5] = -54.89760208129883
Table[2][0] = Company cars** -85.4514389038086
Table[2][1] = 10 -83.85466003417969
Table[2][2] = 13 -84.62545013427734
Table[2][3] = 14 -84.12640380859375
Table[2][4] = - -85.24665069580078
Table[2][5] = - -81.5260009765625
Table[3][0] = Road emissions (own fleet) -89.71946716308594
Table[3][1] = 101 -88.04293823242188
Table[3][2] = 43 -88.85222625732422
Table[3][3] = 37 -88.32825469970703
Table[3][4] = 39 -89.50445556640625
Table[3][5] = 39 -85.59797668457031
Table[4][0] = Building emissions -91.32218933105469
Table[4][1] = 24 -89.61570739746094
Table[4][2] = 24 -90.439453125
Table[4][3] = 23 -89.9061279296875
Table[4][4] = 22 -91.10334014892578
Table[4][5] = 19 -87.1270751953125
Table[5][0] = Total CO, e Scope 1 -90.95220947265625
Table[5][1] = 135 -89.25263977050781
Table[5][2] = 80 -90.07305145263672
Table[5][3] = 74 -89.54187774658203
Table[5][4] = 61 -90.73423767089844
Table[5][5] = 58 -86.77407836914062
Table[6][0] = CO2 Scope 2 ('000 tonnes) -51.393943786621094
Table[6][1] = -51.393943786621094
Table[6][2] = -51.393943786621094
Table[6][3] = -51.393943786621094
Table[6][4] = -51.393943786621094
Table[6][5] = -51.393943786621094
Table[7][0] = Building emissions -68.72660827636719
Table[7][1] = 119 -67.4423599243164
Table[7][2] = 98 -68.06228637695312
Table[7][3] = 85 -67.66091918945312
Table[7][4] = 78 -68.56190490722656
Table[7][5] = 78 -65.5694808959961
Table[8][0] = Total CO2 e Scope 2 -92.24761962890625
Table[8][1] = 119 -90.52384185791016
Table[8][2] = 98 -91.3559341430664
Table[8][3] = 85 -90.81720733642578
Table[8][4] = 78 -92.02655029296875
Table[8][5] = 78 -88.0099868774414


Table number: 2
Table[0][0] = Environmental data* -93.45911407470703
Table[0][1] = 2021 -91.58930206298828
Table[0][2] = 2020 -92.54422760009766
Table[0][3] = 2019 -92.09596252441406
Table[0][4] = 2018 -92.86339569091797
Table[0][5] = 2017 -89.77764129638672
Table[1][0] = CO2e Scope 3 ('000 tonnes) -57.95879364013672
Table[1][1] = -57.95879364013672
Table[1][2] = -57.95879364013672
Table[1][3] = -57.95879364013672
Table[1][4] = -57.95879364013672
Table[1][5] = -57.95879364013672
Table[2][0] = Business travel** -84.3560791015625
Table[2][1] = 1 -82.66838073730469
Table[2][2] = 1 -83.53030395507812
Table[2][3] = 8 -83.12569427490234
Table[2][4] = - -83.81837463378906
Table[2][5] = - -81.0331802368164
Table[3][0] = Air transport -90.25724792480469
Table[3][1] = 7,458 -88.45149993896484
Table[3][2] = 6,825 -89.37371063232422
Table[3][3] = 4,631 -88.9407958984375
Table[3][4] = 3,291 -89.68193817138672
Table[3][5] = 3,208 -86.701904296875
Table[4][0] = Sea transport -89.20787811279297
Table[4][1] = 1,130 -87.4231185913086
Table[4][2] = 1,047 -88.33460998535156
Table[4][3] = 1,242 -87.90673065185547
Table[4][4] = 820 -88.6392593383789
Table[4][5] = 855 -85.6938705444336
Table[5][0] = Road transport -87.90994262695312
Table[5][1] = 3,823 -86.15115356445312
Table[5][2] = 3,275 -87.04937744140625
Table[5][3] = 2,847 -86.62772369384766
Table[5][4] = 3,015 -87.34959411621094
Table[5][5] = 2,987 -84.44705963134766
Table[6][0] = Rail transport* -89.7574462890625
Table[6][1] = 112 -87.96168518066406
Table[6][2] = 139 -88.87879180908203
Table[6][3] = - -88.44828033447266
Table[6][4] = - -89.18531799316406
Table[6][5] = - -86.22178649902344
Table[7][0] = Total CO e Scope 3 -92.4136734008789
Table[7][1] = 12,524 -90.56478118896484
Table[7][2] = 11,287 -91.50902557373047
Table[7][3] = 8,728 -91.0657730102539
Table[7][4] = 7,126 -91.82462310791016
Table[7][5] = 7,050 -88.77338409423828


Page number: 2
Table number: 1
Table[0][0] = Environmental data* -92.79769897460938
Table[0][1] = 2021 -91.08325958251953
Table[0][2] = 2020 -92.16064453125
Table[0][3] = 2019 -91.73814392089844
Table[0][4] = 2018 -92.7259292602539
Table[0][5] = 2017 -89.071044921875
Table[1][0] = Energy efficiency (gram CO. e per tonne transported one km) -62.542091369628906
Table[1][1] = -62.542091369628906
Table[1][2] = -62.542091369628906
Table[1][3] = -62.542091369628906
Table[1][4] = -62.542091369628906
Table[1][5] = -62.542091369628906
Table[2][0] = COe (g/tonne-km) - Air transport -85.5383529663086
Table[2][1] = 694.4 -83.95801544189453
Table[2][2] = 704.0 -84.95112609863281
Table[2][3] = 718.2 -84.56168365478516
Table[2][4] = 728.0 -85.47218322753906
Table[2][5] = 751.0 -82.10321807861328
Table[3][0] = COe (g/tonne-km) - Sea transport -88.34305572509766
Table[3][1] = 6.1 -86.71090698242188
Table[3][2] = 6.2 -87.736572265625
Table[3][3] = 6.4 -87.33435821533203
Table[3][4] = 7.0 -88.27471923828125
Table[3][5] = 7.3 -84.7952880859375
Table[4][0] = COe (g/tonne-km) - Road transport -88.83769226074219
Table[4][1] = 92.4 -87.1964111328125
Table[4][2] = 92.8 -88.22782135009766
Table[4][3] = 93.2 -87.82335662841797
Table[4][4] = 96.5 -88.76897430419922
Table[4][5] = 97.4 -85.27006530761719
Table[5][0] = COe (g/tonne-km) - Rail transport* -89.51376342773438
Table[5][1] = 32.6 -87.8599853515625
Table[5][2] = 32,7 -88.89924621582031
Table[5][3] = - -88.49169921875
Table[5][4] = - -89.44452667236328
Table[5][5] = - -85.91898345947266
Table[6][0] = Fuel consumption (own truck fleet) -54.63689422607422
Table[6][1] = -54.63689422607422
Table[6][2] = -54.63689422607422
Table[6][3] = -54.63689422607422
Table[6][4] = -54.63689422607422
Table[6][5] = -54.63689422607422
Table[7][0] = Total consumption of fuel ('000 gigajoule)** -83.8664321899414
Table[7][1] = 1,488 -82.3169937133789
Table[7][2] = - -83.29068756103516
Table[7][3] = - -82.90885925292969
Table[7][4] = - -83.80156707763672
Table[7][5] = - -80.49844360351562
Table[8][0] = Proportion of HVO fuel consumed (%)* -88.77217102050781
Table[8][1] = 4 -87.13209533691406
Table[8][2] = - -88.1627426147461
Table[8][3] = - -87.75857543945312
Table[8][4] = - -88.70350646972656
Table[8][5] = - -85.20716857910156
Table[9][0] = Energy consumption Scope 1 & 2 ('000 gigajoule) -56.512916564941406
Table[9][1] = -56.512916564941406
Table[9][2] = -56.512916564941406
Table[9][3] = -56.512916564941406
Table[9][4] = -56.512916564941406
Table[9][5] = -56.512916564941406
Table[10][0] = Total energy consumption** -80.85857391357422
Table[10][1] = 2,800 -79.36470031738281
Table[10][2] = 1,673 -80.30347442626953
Table[10][3] = - -79.93533325195312
Table[10][4] = - -80.79602813720703
Table[10][5] = - -77.61137390136719


Table number: 2
Table[0][0] = Environmental data* -91.55953216552734
Table[0][1] = 2021 -89.79979705810547
Table[0][2] = 2020 -91.20246124267578
Table[0][3] = 2019 -89.75746154785156
Table[0][4] = 2018 -91.10138702392578
Table[0][5] = 2017 -86.67182159423828
Table[1][0] = Water ('000 m³) -49.9721565246582
Table[1][1] = -49.9721565246582
Table[1][2] = -49.9721565246582
Table[1][3] = -49.9721565246582
Table[1][4] = -49.9721565246582
Table[1][5] = -49.9721565246582
Table[2][0] = Total water consumption - buildings -71.1863021850586
Table[2][1] = 1,188 -69.8181381225586
Table[2][2] = 1,152 -70.90869903564453
Table[2][3] = 1,596 -69.78522491455078
Table[2][4] = 1,485 -70.83011627197266
Table[2][5] = 1,435 -67.38617706298828
Table[3][0] = Renewable energy share (%) -50.83873748779297
Table[3][1] = -50.83873748779297
Table[3][2] = -50.83873748779297
Table[3][3] = -50.83873748779297
Table[3][4] = -50.83873748779297
Table[3][5] = -50.83873748779297
Table[4][0] = Renewable** -83.09487915039062
Table[4][1] = 12 -81.49783325195312
Table[4][2] = 22 -82.77082824707031
Table[4][3] = - -81.45941162109375
Table[4][4] = - -82.67909240722656
Table[4][5] = - -78.6590347290039
Table[5][0] = Non-renewable** -88.54324340820312
Table[5][1] = 88 -86.84149169921875
Table[5][2] = 78 -88.19793701171875
Table[5][3] = - -86.80054473876953
Table[5][4] = - -88.10020446777344
Table[5][5] = - -83.8165512084961
Table[6][0] = Euro engine standards (%) -62.087745666503906
Table[6][1] = -62.087745666503906
Table[6][2] = -62.087745666503906
Table[6][3] = -62.087745666503906
Table[6][4] = -62.087745666503906
Table[6][5] = -62.087745666503906
Table[7][0] = Proportion of trucks of DSV Road satisfying Euro 2 standard or older (own and suppliers' trucks) -87.219482421875
Table[7][1] = 0.2 -85.54316711425781
Table[7][2] = 0.2 -86.87934112548828
Table[7][3] = 0.2 -85.50283813476562
Table[7][4] = 0,7 -86.78306579589844
Table[7][5] = 0.7 -82.56346130371094
Table[8][0] = Proportion of trucks of DSV Road satisfying Euro 3 or 4 standards (own and suppliers' trucks) -90.1099624633789
Table[8][1] = 9.6 -88.37809753417969
Table[8][2] = 10.4 -89.75855255126953
Table[8][3] = 16.5 -88.33642578125
Table[8][4] = 19.3 -89.6590805053711
Table[8][5] = 20.8 -85.29963684082031
Table[9][0] = Proportion of trucks of DSV Road satisfying Euro 5 or 6 standards (own and suppliers' trucks) -90.75857543945312
Table[9][1] = 90.2 -89.01424407958984
Table[9][2] = 89.4 -90.40463256835938
Table[9][3] = 83.3 -88.97227478027344
Table[9][4] = 80.0 -90.30445098876953
Table[9][5] = 78.5 -85.91362762451172
Table[10][0] = Recycling of paper, cardboard and plastic (%) -42.32872009277344
Table[10][1] = -42.32872009277344
Table[10][2] = -42.32872009277344
Table[10][3] = -42.32872009277344
Table[10][4] = -42.32872009277344
Table[10][5] = -42.32872009277344
Table[11][0] = Proportion of locations recycling paper, cardboard, and/or plastic from offices, terminals and warehouses -54.959251403808594
Table[11][1] = 71 -53.90296173095703
Table[11][2] = 74 -54.74491882324219
Table[11][3] = 74 -53.87754440307617
Table[11][4] = 79 -54.68424606323242
Table[11][5] = 74 -52.025367736816406


Page number: 3
Table number: 1
Table[0][0] = Social data* -92.264892578125
Table[0][1] = 2021 -90.44441986083984
Table[0][2] = 2020 -91.42105865478516
Table[0][3] = 2019 -91.07439422607422
Table[0][4] = 2018 -92.27298736572266
Table[0][5] = 2017 -89.57852172851562
Table[1][0] = Gender diversity (%) (female/male) -66.82415771484375
Table[1][1] = -66.82415771484375
Table[1][2] = -66.82415771484375
Table[1][3] = -66.82415771484375
Table[1][4] = -66.82415771484375
Table[1][5] = -66.82415771484375
Table[2][0] = Gender diversity total -87.40160369873047
Table[2][1] = 38/62 -85.67709350585938
Table[2][2] = 38/62 -86.60224914550781
Table[2][3] = 39/61 -86.27386474609375
Table[2][4] = 38/62 -87.4092788696289
Table[2][5] = 39/61 -84.8568344116211
Table[3][0] = Gender diversity salaried employees** -89.80879211425781
Table[3][1] = 49/51 -88.03678131103516
Table[3][2] = 51/49 -88.98741912841797
Table[3][3] = 51/49 -88.64998626708984
Table[3][4] = - -89.8166732788086
Table[3][5] = - -87.19393920898438
Table[4][0] = Gender diversity hourly workers** -89.2912826538086
Table[4][1] = 22/78 -87.52947998046875
Table[4][2] = 23/77 -88.47463989257812
Table[4][3] = 25/75 -88.13916015625
Table[4][4] = - -89.29911804199219
Table[4][5] = - -86.69149017333984
Table[5][0] = Gender diversity, management (%) (female/male) -64.45069122314453
Table[5][1] = -64.45069122314453
Table[5][2] = -64.45069122314453
Table[5][3] = -64.45069122314453
Table[5][4] = -64.45069122314453
Table[5][5] = -64.45069122314453
Table[6][0] = Gender diversity management -83.7330322265625
Table[6][1] = 34/66 -82.0809097290039
Table[6][2] = 34/66 -82.96723175048828
Table[6][3] = 33/67 -82.65262603759766
Table[6][4] = 28/72 -83.74038696289062
Table[6][5] = 31/69 -81.29508209228516
Table[7][0] = Age distribution of employees (%) -66.61808776855469
Table[7][1] = -66.61808776855469
Table[7][2] = -66.61808776855469
Table[7][3] = -66.61808776855469
Table[7][4] = -66.61808776855469
Table[7][5] = -66.61808776855469
Table[8][0] = Employees <25 -88.09769439697266
Table[8][1] = 9.8 -86.35944366455078
Table[8][2] = 8.4 -87.29197692871094
Table[8][3] = 9.5 -86.96096801757812
Table[8][4] = 8.0 -88.10543060302734
Table[8][5] = 8.3 -85.53266143798828
Table[9][0] = Employees 25-34 -78.83981323242188
Table[9][1] = 29.4 -77.28423309326172
Table[9][2] = 29.1 -78.11876678466797
Table[9][3] = 29.3 -77.82254791259766
Table[9][4] = 30.0 -78.84673309326172
Table[9][5] = 30,7 -76.5443344116211
Table[10][0] = Employees 35-44 -89.88965606689453
Table[10][1] = 30.2 -88.11605834960938
Table[10][2] = 30,7 -89.06755065917969
Table[10][3] = 30.6 -88.72982025146484
Table[10][4] = 29.8 -89.89755249023438
Table[10][5] = 29.6 -87.27244567871094
Table[11][0] = Employees 45-54 -91.54074096679688
Table[11][1] = 20.0 -89.73455810546875
Table[11][2] = 20,4 -90.70353698730469
Table[11][3] = 19.5 -90.35958862304688
Table[11][4] = 20.5 -91.54877471923828
Table[11][5] = 20,5 -88.87545776367188
Table[12][0] = Employees >54 -90.55264282226562
Table[12][1] = 10.6 -88.76595306396484
Table[12][2] = 11.4 -89.72447204589844
Table[12][3] = 11.1 -89.38423919677734
Table[12][4] = 11.7 -90.56058502197266
Table[12][5] = 10.9 -87.91612243652344
Table[13][0] = Employee seniority (%) -70.2969970703125
Table[13][1] = -70.2969970703125
Table[13][2] = -70.2969970703125
Table[13][3] = -70.2969970703125
Table[13][4] = -70.2969970703125
Table[13][5] = -70.2969970703125
Table[14][0] = Seniority <1 year -86.85511016845703
Table[14][1] = 24,0 -85.1413803100586
Table[14][2] = 17.0 -86.06075286865234
Table[14][3] = 17,7 -85.73441314697266
Table[14][4] = 19.4 -86.86273193359375
Table[14][5] = 19.1 -84.32624816894531
Table[15][0] = Seniority 1-2 years -90.4230728149414
Table[15][1] = 17.9 -88.6389389038086
Table[15][2] = 22.8 -89.59608459472656
Table[15][3] = 22,7 -89.25634002685547
Table[15][4] = 21.9 -90.4310073852539
Table[15][5] = 21.1 -87.79032897949219
Table[16][0] = Seniority 3-5 years -87.92091369628906
Table[16][1] = 20.2 -86.1861572265625
Table[16][2] = 19.9 -87.11681365966797
Table[16][3] = 19.8 -86.7864761352539
Table[16][4] = 17.2 -87.92863464355469
Table[16][5] = 16.2 -85.36103057861328
Table[17][0] = Seniority 6-10 years -89.94359588623047
Table[17][1] = 15.7 -88.1689224243164
Table[17][2] = 15.3 -89.12098693847656
Table[17][3] = 15.5 -88.78305053710938
Table[17][4] = 15.2 -89.95148468017578
Table[17][5] = 17.3 -87.32481384277344
Table[18][0] = Seniority 11-25 years -89.18795776367188
Table[18][1] = 18.3 -87.42819213867188
Table[18][2] = 20.3 -88.37226104736328
Table[18][3] = 20.0 -88.03716278076172
Table[18][4] = 21.4 -89.19578552246094
Table[18][5] = 20.5 -86.59117126464844
Table[19][0] = Seniority >25 years -89.88764190673828
Table[19][1] = 3.9 -88.11407470703125
Table[19][2] = 4.7 -89.0655517578125
Table[19][3] = 4.3 -88.72782135009766
Table[19][4] = 4.9 -89.8955307006836
Table[19][5] = 5.8 -87.27049255371094
Table[20][0] = Collective bargaining agreements (%) -68.97879028320312
Table[20][1] = -68.97879028320312
Table[20][2] = -68.97879028320312
Table[20][3] = -68.97879028320312
Table[20][4] = -68.97879028320312
Table[20][5] = -68.97879028320312
Table[21][0] = Total* -86.76033782958984
Table[21][1] = 28 -85.04846954345703
Table[21][2] = - -85.96685028076172
Table[21][3] = - -85.640869140625
Table[21][4] = - -86.7679443359375
Table[21][5] = - -84.23423767089844
Table[22][0] = Salaried employees* -89.24346160888672
Table[22][1] = 17 -87.48260498046875
Table[22][2] = - -88.42726135253906
Table[22][3] = - -88.09194946289062
Table[22][4] = - -89.25128936767578
Table[22][5] = - -86.64506530761719
Table[23][0] = Hourly workers* -90.94312286376953
Table[23][1] = 40 -89.14873504638672
Table[23][2] = - -90.11138153076172
Table[23][3] = - -89.76968383789062
Table[23][4] = - -90.95110321044922
Table[23][5] = - -88.29524230957031


Table number: 2
Table[0][0] = Social data* -93.07646179199219
Table[0][1] = 2021 -91.58209991455078
Table[0][2] = 2020 -91.11469268798828
Table[0][3] = 2019 -91.11111450195312
Table[0][4] = 2018 -91.4077377319336
Table[0][5] = 2017 -87.85210418701172
Table[1][0] = Employees (full-time workforce) -58.17980194091797
Table[1][1] = -58.17980194091797
Table[1][2] = -58.17980194091797
Table[1][3] = -58.17980194091797
Table[1][4] = -58.17980194091797
Table[1][5] = -58.17980194091797
Table[2][0] = Total -88.3642807006836
Table[2][1] = 77,958 -86.94557189941406
Table[2][2] = 56,621 -86.5018310546875
Table[2][3] = 61,216 -86.4984359741211
Table[2][4] = 47,394 -86.780029296875
Table[2][5] = 45,636 -83.4044189453125
Table[3][0] = Salaried employees -90.51787567138672
Table[3][1] = 40,605 -89.0645980834961
Table[3][2] = 29,544 -88.61003875732422
Table[3][3] = 32,820 -88.60655975341797
Table[3][4] = 23,088 -88.89501953125
Table[3][5] = 22,730 -85.4371337890625
Table[4][0] = Hourly workers -92.787353515625
Table[4][1] = 37,353 -91.29763793945312
Table[4][2] = 27,077 -90.8316879272461
Table[4][3] = 28,396 -90.82811737060547
Table[4][4] = 24,306 -91.12380981445312
Table[4][5] = 22,906 -87.5792236328125


Page number: 4
Table number: 1
Table[0][0] = Social data* -91.89643859863281
Table[0][1] = 2021 -90.03742218017578
Table[0][2] = 2020 -91.03682708740234
Table[0][3] = 2019 -90.21922302246094
Table[0][4] = 2018 -91.32426452636719
Table[0][5] = 2017 -87.241455078125
Table[1][0] = Sickness absence (days per FTE) -62.46187210083008
Table[1][1] = -62.46187210083008
Table[1][2] = -62.46187210083008
Table[1][3] = -62.46187210083008
Table[1][4] = -62.46187210083008
Table[1][5] = -62.46187210083008
Table[2][0] = Total -86.59119415283203
Table[2][1] = 5.7 -84.83950805664062
Table[2][2] = 6.4 -85.78121948242188
Table[2][3] = 6.0 -85.01081848144531
Table[2][4] = 5.9 -86.05205535888672
Table[2][5] = 4.7 -82.20494842529297
Table[3][0] = Salaried employees -89.93952941894531
Table[3][1] = 5.4 -88.12010192871094
Table[3][2] = 5.8 -89.09822845458984
Table[3][3] = 6.0 -88.29803466796875
Table[3][4] = 6.6 -89.3795394897461
Table[3][5] = 4.7 -85.38367462158203
Table[4][0] = Hourly workers -88.97384643554688
Table[4][1] = 6.0 -87.1739501953125
Table[4][2] = 7.1 -88.14157104492188
Table[4][3] = 5.9 -87.3499755859375
Table[4][4] = 5.2 -88.41986846923828
Table[4][5] = 4.7 -84.46690368652344
Table[5][0] = Lost Time Injury Frequency Rate (LTIFR) (per million working hours) -60.65901565551758
Table[5][1] = -60.65901565551758
Table[5][2] = -60.65901565551758
Table[5][3] = -60.65901565551758
Table[5][4] = -60.65901565551758
Table[5][5] = -60.65901565551758
Table[6][0] = Total -85.70230865478516
Table[6][1] = 4.5 -83.96859741210938
Table[6][2] = 6.7 -84.900634765625
Table[6][3] = 5.0 -84.13814544677734
Table[6][4] = 4.6 -85.16869354248047
Table[6][5] = 4.2 -81.361083984375
Table[7][0] = Salaried employees -90.08474731445312
Table[7][1] = 1.0 -88.26239013671875
Table[7][2] = 0.8 -89.2420883178711
Table[7][3] = 0.9 -88.44061279296875
Table[7][4] = 0.5 -89.52385711669922
Table[7][5] = 0,8 -85.52154541015625
Table[8][0] = Hourly workers -88.67117309570312
Table[8][1] = 7.9 -86.87741088867188
Table[8][2] = 13.3 -87.84173583984375
Table[8][3] = 9.1 -87.05282592773438
Table[8][4] = 8.3 -88.11908721923828
Table[8][5] = 7.6 -84.1795654296875
Table[9][0] = Lost workdays due to lost time injury (per million working hours) -55.36897277832031
Table[9][1] = -55.36897277832031
Table[9][2] = -55.36897277832031
Table[9][3] = -55.36897277832031
Table[9][4] = -55.36897277832031
Table[9][5] = -55.36897277832031
Table[10][0] = Total -84.46959686279297
Table[10][1] = 61.0 -82.76082611083984
Table[10][2] = 78.8 -83.67945861816406
Table[10][3] = 97.5 -82.92793273925781
Table[10][4] = 98.0 -83.94366455078125
Table[10][5] = 81.2 -80.1908187866211
Table[11][0] = Salaried employees -88.24957275390625
Table[11][1] = 15.3 -86.4643325805664
Table[11][2] = 16.0 -87.424072265625
Table[11][3] = 22.0 -86.63892364501953
Table[11][4] = 23.2 -87.7000961303711
Table[11][5] = 20.8 -83.7793197631836
Table[12][0] = Hourly workers -88.35933685302734
Table[12][1] = 105,4 -86.5718765258789
Table[12][2] = 148.6 -87.5328140258789

In [40]:
# arr = all_array[0]
# arr_np = np.array(arr)
# print(arr_np)
# arr_np = np.transpose(arr_np)
# print(arr_np)
# df = pd.DataFrame(arr_np[1:], columns=arr_np[0])
# df

[['Environmental data*' '2021' '2020' '2019' '2018' '2017']
 ["CO2 Scope 1 ('000 tonnes)" '' '' '' '' '']
 ['Company cars**' '10' '13' '14' '-' '-']
 ['Road emissions (own fleet)' '101' '43' '37' '39' '39']
 ['Building emissions' '24' '24' '23' '22' '19']
 ['Total CO, e Scope 1' '135' '80' '74' '61' '58']
 ["CO2 Scope 2 ('000 tonnes)" '' '' '' '' '']
 ['Building emissions' '119' '98' '85' '78' '78']
 ['Total CO2 e Scope 2' '119' '98' '85' '78' '78']]
[['Environmental data*' "CO2 Scope 1 ('000 tonnes)" 'Company cars**'
  'Road emissions (own fleet)' 'Building emissions' 'Total CO, e Scope 1'
  "CO2 Scope 2 ('000 tonnes)" 'Building emissions' 'Total CO2 e Scope 2']
 ['2021' '' '10' '101' '24' '135' '' '119' '119']
 ['2020' '' '13' '43' '24' '80' '' '98' '98']
 ['2019' '' '14' '37' '23' '74' '' '85' '85']
 ['2018' '' '-' '39' '22' '61' '' '78' '78']
 ['2017' '' '-' '39' '19' '58' '' '78' '78']]

,Environmental data*,CO2 Scope 1 ('000 tonnes),Company cars**,Road emissions (own fleet),Building emissions,"Total CO, e Scope 1",CO2 Scope 2 ('000 tonnes),Building emissions,Total CO2 e Scope 2
0,2021,,10,101,24,135,,119,119
1,2020,,13,43,24,80,,98,98
2,2019,,14,37,23,74,,85,85
3,2018,,-,39,22,61,,78,78
4,2017,,-,39,19,58,,78,78

In [22]:
# arr = all_array[1]
# arr_np = np.array(arr)
# arr_np = np.transpose(arr_np)
# df = pd.DataFrame(arr_np[1:], columns=arr_np[0])
# df

,Environmental data*,CO2e Scope 3 ('000 tonnes),Business travel**,Air transport,Sea transport,Road transport,Rail transport*,Total CO e Scope 3
0,2021,,1,"7,458","1,130","3,823",112,"12,524"
1,2020,,1,"6,825","1,047","3,275",139,"11,287"
2,2019,,8,"4,631","1,242","2,847",-,"8,728"
3,2018,,-,"3,291",820,"3,015",-,"7,126"
4,2017,,-,"3,208",855,"2,987",-,"7,050"

In [42]:
import re

def is_header_years(header_array):
    is_years = True
    for idx, i in enumerate(header_array):
        if idx>0:
            if not re.match(r"(19|20|21)[0-9]{2}", i):
                is_years = False
                break

    return is_years

def change_label_to_years_after_checking(header_array):
    if is_header_years(header_array):
        header_array[0] = "Years"
    
    return header_array

for idx, table in enumerate(all_array):
    headers = table[0]
    headers = change_label_to_years_after_checking(headers)
    table[0] = headers

[['Years', '2021', '2020', '2019', '2018', '2017'], ["CO2 Scope 1 ('000 tonnes)", '', '', '', '', ''], ['Company cars**', '10', '13', '14', '-', '-'], ['Road emissions (own fleet)', '101', '43', '37', '39', '39'], ['Building emissions', '24', '24', '23', '22', '19'], ['Total CO, e Scope 1', '135', '80', '74', '61', '58'], ["CO2 Scope 2 ('000 tonnes)", '', '', '', '', ''], ['Building emissions', '119', '98', '85', '78', '78'], ['Total CO2 e Scope 2', '119', '98', '85', '78', '78']]

In [52]:
tables = all_array
df_arr = []
for arr in tables:   
    arr_np = np.array(arr)
    arr_np = np.transpose(arr_np)
    df = pd.DataFrame(arr_np[1:], columns=arr_np[0])
    df_arr.append(df)
    
df_merge = df_arr[0]
for df in df_arr[1:]:
    df_merge = pd.merge(df_merge, df, on='Years')
    
df_merge

C:\Users\azmi_\AppData\Local\Temp\ipykernel_43076\1512791222.py:11: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Total_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_merge = pd.merge(df_merge, df, on='Years')

,Years,CO2 Scope 1 ('000 tonnes),Company cars**,Road emissions (own fleet),Building emissions,"Total CO, e Scope 1",CO2 Scope 2 ('000 tonnes),Building emissions,Total CO2 e Scope 2,CO2e Scope 3 ('000 tonnes),...,ISO 9001 (Quality),ISO 45001 (Health & Safety),ISO 14001 (Environment),Distribution of DSV's Supplier Code of Conduct (%),"Distribution of DSV's Supplier Code of Conduct with spend over 25,000 EUR","Employee training on Code of Conduct, including human rights and anti-corruption policies and procedures","Code of Conduct online training, completion rate (%)",Average training hours spent on Code of Conduct*,Whistleblower reports,Total_y
0,2021,,10,101,24,135,,119,119,,...,32,18,24,,88,,100,2,,47
1,2020,,13,43,24,80,,98,98,,...,38,22,30,,100,,100,2,,41
2,2019,,14,37,23,74,,85,85,,...,61,40,52,,100,,100,2,,60
3,2018,,-,39,22,61,,78,78,,...,40,19,33,,95,,-,-,,23
4,2017,,-,39,19,58,,78,78,,...,39,12,24,,93,,-,-,,23

## BlockType
These are the available block type from textract
['WORD', 'PAGE', 'TABLE', 'MERGED_CELL', 'CELL', 'LINE']

In [71]:
table_blocks = [block for block in all_blocks if block["BlockType"] == "TABLE"]

In [94]:
table_blocks[1]["Relationships"]

[{'Type': 'CHILD',
  'Ids': ['f36ff0f7-7679-4a73-842b-857cc23f8157',
   'b9af3bee-c4c8-4d29-9526-49e222419249',
   '1239a0c2-8266-4699-8647-cb87c56125b2',
   'e3b5d944-8622-42d2-8e89-e555a49e71d3',
   '18c12f14-9981-45d8-b142-61cd6003df61',
   'e7e63d29-7fd7-4f3f-b774-baebc7a2b375',
   '0a46d563-1fc3-4f85-b7dc-3f81e41f7194',
   'ede5af71-75e3-4190-ab35-887ccba6a7a9',
   '4a226c2c-9e44-444e-b973-51ff2815f71f',
   '373ae6e6-3a64-4cb1-ade6-06bb113f8586',
   'bebd37a0-a08f-45d4-9c1b-286c6eca0930',
   '8984e03d-c73c-45d8-abb7-9eee83be97c6',
   'bf6e25f7-5288-4e60-b699-8ae120582258',
   '08ccd005-2e16-4ebd-97d1-fbbe36184c5e',
   '83a8acf7-6af6-42fd-bfa3-ac823d4aff50',
   '1c18a0c3-b16d-4ac0-9458-d1626116cdb4',
   'a6b2ebb4-c230-4631-95dd-91c14e705a57',
   '37a4f424-a7f2-4f00-b15b-eee80f8c5621',
   '655637ca-a2ee-4142-b67b-fbcf5eafc97e',
   '0632914b-2f19-45f8-9b8f-20239558a704',
   'aab77dd3-3b68-445f-88e3-f1b82d93c074',
   'dc4b4c13-3608-4652-b435-d3b0aa3c1b92',
   '07da0f0a-f1f7-4b52-ab30-e8735304d979',
   '7375b6f5-3958-44aa-83a2-beac0327a37b',
   'b235481d-1b94-4963-88fa-5c1f088a4828',
   '75af63fa-da2d-471c-8dad-a0c4ea527f37',
   '96f99fd2-6d36-4858-843d-873a6d69cffd',
   'db73c7ed-0a95-4ba2-8cf4-211acc8e796a',
   '7c8708eb-83da-435a-9d18-24a999d6190a',
   '179ab12f-c266-403a-864a-647bc117c7fe',
   '0c11088a-5ec2-4aab-98d4-0c507e572b80',
   '0f7a6f74-3254-4a63-ad32-90f43a915cf9',
   '17799057-d485-41bd-a1af-879aeb4eef36',
   'c3811274-4f47-4724-b52c-898b68400a70',
   '24cb0b10-21ba-44e7-b9ac-264d83ae206d',
   'b2b91c10-59c5-4961-97c4-aa903edcb824',
   '7b684854-dea5-4ce3-982c-53515536d6a3',
   '62d7bb04-f445-476a-b9c9-d7e605ac2c69',
   '68b05e99-7dd6-4cbf-8de5-0f06effd06fc',
   '8fbc18aa-f1ae-4a4f-96ce-c845acbdf177',
   '8d4a3e29-de85-4ebf-b3da-de6bb913d571',
   '41c32616-b579-4212-b3f2-f8529acd0e17',
   'd1fac2d1-3488-43f2-b264-b06e5d24bafd',
   'f762caae-6d8a-49fc-ab3d-6c5e04905319',
   'faa9b4d7-d983-40bd-85c9-b5b2fcafc4e5',
   'de430880-4c1e-4307-9979-8db64004d0a9',
   'd4b6b7cd-8579-4aa0-9eaa-ec406759e8cc',
   '34b07ad9-31ac-4c09-86c3-a49f33d41fca']},
 {'Type': 'MERGED_CELL', 'Ids': ['a28dcb57-2303-4e3e-ad06-77df7f8e6c22']}]

In [91]:
[block for block in all_blocks if block["Id"]=="b9af3bee-c4c8-4d29-9526-49e222419249"]

[{'BlockType': 'CELL',
  'Confidence': 91.58930206298828,
  'RowIndex': 1,
  'ColumnIndex': 2,
  'RowSpan': 1,
  'ColumnSpan': 1,
  'Geometry': {'BoundingBox': {'Width': 0.051706261932849884,
    'Height': 0.024867210537195206,
    'Left': 0.7049752473831177,
    'Top': 0.6056995987892151},
   'Polygon': [{'X': 0.7049752473831177, 'Y': 0.6057009100914001},
    {'X': 0.756678581237793, 'Y': 0.6056995987892151},
    {'X': 0.7566815614700317, 'Y': 0.630565345287323},
    {'X': 0.7049773335456848, 'Y': 0.6305668354034424}]},
  'Id': 'b9af3bee-c4c8-4d29-9526-49e222419249',
  'Relationships': [{'Type': 'CHILD',
    'Ids': ['46d8b3d7-ce53-4dfe-8bdc-925ab8444b7b']}],
  'EntityTypes': ['COLUMN_HEADER'],
  'Page': 1}]

In [92]:
[block for block in all_blocks if block["Id"]=="46d8b3d7-ce53-4dfe-8bdc-925ab8444b7b"]

[{'BlockType': 'WORD',
  'Confidence': 99.8606948852539,
  'Text': '2021',
  'TextType': 'PRINTED',
  'Geometry': {'BoundingBox': {'Width': 0.021340342238545418,
    'Height': 0.008796324953436852,
    'Left': 0.7253584265708923,
    'Top': 0.6139723658561707},
   'Polygon': [{'X': 0.7253584265708923, 'Y': 0.6139729619026184},
    {'X': 0.7466977834701538, 'Y': 0.6139723658561707},
    {'X': 0.746698796749115, 'Y': 0.6227681040763855},
    {'X': 0.7253592610359192, 'Y': 0.6227687001228333}]},
  'Id': '46d8b3d7-ce53-4dfe-8bdc-925ab8444b7b',
  'Page': 1}]

In [90]:
[block for block in all_blocks if block["Id"]=="e35a484b-2d46-46a6-9c41-6edc53b0b2be"]

[{'BlockType': 'WORD',
  'Confidence': 99.37969207763672,
  'Text': 'data*',
  'TextType': 'PRINTED',
  'Geometry': {'BoundingBox': {'Width': 0.024252884089946747,
    'Height': 0.00969074759632349,
    'Left': 0.5782848596572876,
    'Top': 0.6128990054130554},
   'Polygon': [{'X': 0.5782849192619324, 'Y': 0.6128996014595032},
    {'X': 0.6025376319885254, 'Y': 0.6128990054130554},
    {'X': 0.6025377511978149, 'Y': 0.6225890517234802},
    {'X': 0.5782848596572876, 'Y': 0.6225897073745728}]},
  'Id': 'e35a484b-2d46-46a6-9c41-6edc53b0b2be',
  'Page': 1}]

In [ ]:
# human_loop_config={
#     'HumanLoopName': 'document-scanning-human-review',
#     'FlowDefinitionArn':'arn:aws:sagemaker:ap-southeast-1:568640156275:flow-definition/document-scanning-human-review'
# }

In [16]:
# doc_textracted_sync = textract.analyze_document(
#     Document={
#         'S3Object':{
#             'Bucket': BUCKET_NAME,
#             'Name': file_ref
#         }
#     },
#     FeatureTypes=['TABLES','FORMS'],
#     HumanLoopConfig=human_loop_config
# )